@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;500;600;900&family=Karla:wght@500;600;800&family=Lato:wght@700&family=Open+Sans:wght@800&display=swap');

body {
  background: rgb(89,92,214);
  background: radial-gradient(circle, rgba(89,92,214,1) 0%, rgba(0,0,0,1) 70%);
  color: white;
}

.home-heading{
  font-family: 'Karla', sans-serif;
}

.home-description{
  font-family: 'Karla', sans-serif;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
